@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-font: calc(12px + 0.3vw);
    --frame: 2rem;
    --easeOut: cubic-bezier(0, 0, 0.185, 0.995);
    --bgLight: 226, 226, 226;
    --bgDark: 24, 24, 24;

    /* Syntax Highlighting */
    --sh-class: #7aa2f7;
    --sh-identifier: rgb(199, 146, 234);
    --sh-sign: #89ddff;
    --sh-property: #73daca;
    --sh-entity: #e0af68;
    --sh-string: #6ab3ce;
    --sh-jsxliterals: #7aa2f7;
    --sh-keyword: #bb9af7;
    --sh-comment: #565f89;

    /* Global Colors */
    --accent: #834bdb;
    --bg-dark: #181818;
    --link-visited: #834bdb;
  }

  /* Light Theme Colors */
  html {
    --bg: #e2e2e2;
    --bgRGB: 226, 226, 226;
    --bgAlpha: rgba(var(--bgRGB), 0.75);
    --bg-offset: #dadada;
    --bg-light: #e2e2e2;
    --pre-bg: #f0f0f0;
    --pre-border: none;
    --text-primary: #444;
    --text-secondary: #4b5563;
    --border: #b5b5b5;
    --border-light: #d5d5d5;
    --link: #b94afe;
    --link-hover: #c792ea;
    --inline-code: var(--accent);
    --hover-shadow: rgba(131, 75, 219, 0.1);
    --scrollbar: #444;
  }

  /* Dark Theme Colors */
  html.dark {
    --bg: #181818;
    --bgRGB: 24, 24, 24;
    --bgAlpha: rgba(var(--bgRGB), 0.75);
    --bg-offset: #282828;
    --pre-bg: var(--bg);
    --pre-border: 1px solid var(--border);
    --text-primary: #b5b5b5;
    --text-secondary: #9ca3af;
    --border: #555;
    --border-light: #333;
    --link: #c792ea;
    --linkHover: #e0abff;
    --inline-code: #9ece6a;
    --hoverShadow: rgba(131, 75, 219, 0.75);
  }

  html.dark code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
  /* For improved legibility of blog posts on mobile */
  @media (max-width: 640px) {
    html:has(.markdown),
    html.dark:has(.markdown) {
      --frame: 0px;
      & #theme-selector {
        display: none;
      }
    }
  }
}

header {
}

@layer utilities {
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Markdown Styling */

#blog-posts-container {
  /* Used to place the list of tags (child element) at the bottom left corner of this element */
  container-type: inline-size;
}

a {
  color: inherit;
}

blockquote {
  & p {
    quotes: initial;
    &::after {
      content: '”';
    }
    &::before {
      content: '“';
    }
  }
}

pre {
  @apply mb-6 rounded-lg overflow-x-auto py-2 px-3 text-sm;
  border: var(--pre-border);
  background-color: var(--pre-bg);
  scrollbar-color: var(--border-light) transparent;
}

pre::-webkit-scrollbar {
  /* background-color: #333; */
  border-radius: 0.5rem;
}

code {
  @apply px-1 py-0.5 rounded-lg;
}

pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

code span {
  @apply font-medium text-sm;
}

:not(pre) > code {
  padding: 3px 6px;
  margin: 0 -4px;
  border-radius: 4px;
  background-color: var(--bg-offset);
  color: var(--inline-code);
}

pre:has(code) {
  position: relative;
}

/* Copy button in codeblock elements */

pre:hover button.copy {
  opacity: 1;
}

pre button.copy {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 28px;
  width: 28px;
  padding: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:before {
    content: 'Copied!';
    position: absolute;
    left: -70px; /* Adjust as needed to position text properly */
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-offset); /* Background color for the message */
    color: inherit; /* Text color */
    padding: 4px 8px;
    border-radius: 4px; /* Rounded corners */
    font-size: 12px; /* Font size of the message */
    white-space: nowrap; /* Prevents text from wrapping */
    opacity: 0; /* Initially hidden */
  }

  & .ready {
    background-image: url(/icons/copy.svg);
  }

  & .success {
    display: none;
    background-image: url(/icons/copy-success.svg);
  }

  &.copied {
    & .success {
      display: block;
    }

    &:before {
      opacity: 1; /* Show the message when .copied is active */
    }

    & .ready {
      display: none;
    }
  }
}

/* Scroll Animations (Projects Page) */

.img-container {
  animation: from-left var(--easeOut) both;
  animation-timeline: view();
  animation-range: 5vh 25vh;
}
.project-title {
  animation: from-right var(--easeOut) both;
  animation-timeline: view();
  animation-range: 0vh 15vh;
}
.project-description {
  animation: from-bottom var(--easeOut) both;
  animation-timeline: view();
  animation-range: 0vh 10vh;
}
.tags {
  animation: from-bottom var(--easeOut) both;
  animation-timeline: view();
  animation-range: 0vh 6vh;
}
.links {
  animation: from-bottom var(--easeOut) both;
  animation-timeline: view();
  animation-range: 0vh 10vh;
}

@keyframes from-left {
  from {
    opacity: 0;
    scale: 2;
    translate: -30rem;
    filter: blur(50px);
  }
}

@keyframes from-right {
  from {
    opacity: 0;
    translate: 30rem;
    filter: blur(50px);
  }
}

@keyframes from-bottom {
  from {
    opacity: 0;
    transform: translateY(30rem);
    filter: blur(75px);
  }
}

@keyframes scale-in {
  from {
    scale: 0;
    filter: blur(75px);
  }
}
