@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-font: calc(13px + 0.2vw);
    --frame: 2rem;
    --header: 2.75rem;
    --easeOut: cubic-bezier(0, 0, 0.185, 0.995);
    --bgLight: 226, 226, 226;
    --bgDark: 24, 24, 24;

    /* Global Colors */
    --accent: #834bdb;
    --accentRGB: 131 75 219;
    --bg-dark: #181818;
    --bg-light: #e2e2e2;
  }

  /* Light Theme Colors */
  html {
    --bg: #d9d9d9;
    --bgRGB: 226, 226, 226;
    --bgAlpha: rgba(var(--bgRGB), 0.75);
    --bg-offset: #dadada;
    --bg-light: #e2e2e2;
    --pre-bg: #e6e9ef;
    --code-bg: var(--pre-bg);
    --info-bg: #e0e3f2;
    --info-icon: var(--link);
    --info-text: var(--text-secondary);
    --pre-border: none;
    --text-primary: #444;
    --text-secondary: #4b5563;
    --border: #b5b5b5;
    --border-light: #d5d5d5;
    --link: var(--accent);
    --link-hover: var(--link);
    --link-visited: #663bac;
    --inline-code: var(--accent);
    --hover-shadow: rgba(131, 75, 219, 0.1);
    --scrollbar: #444;
    --accent-2: #4f46e5;
    --contrast: #000
  }

  /* Dark Theme Colors */
  html.dark {
    --bg: #181818;
    --bgRGB: 24, 24, 24;
    --bgAlpha: rgba(var(--bgRGB), 0.75);
    --bg-offset: #282828;
    --pre-bg: #24273a;
    --code-bg: var(--bg-offset);
    --info-bg: #1e1b4b;
    --info-icon: var(--link);
    --info-text: #bfc4cc;
    --pre-border: 1px solid var(--border);
    --text-primary: #b5b5b5;
    --text-secondary: #9ca3af;
    --border: #555;
    --border-light: #333;
    --link: #c792ea;
    --linkHover: var(--link);
    --link-visited: #834bdb;
    --inline-code: #9ece6a;
    --accent-2: #facc15;
    --contrast: #fff;
    --hoverShadow: rgba(131, 75, 219, 0.75);
  }

  html.dark code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
  /* For improved legibility of blog posts on mobile */
  @media (max-width: 640px) {
    html:has(.markdown),
    html.dark:has(.markdown) {
      --frame: 0px;
      & #theme-selector {
        display: none;
      }
    }
  }
}

/* Cinematic Film Grain Effect */
.noise::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
  pointer-events: none;
  opacity: 0.8;
  z-index: 50;
}

html.dark .noise::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.1'/%3E%3C/svg%3E");
}

header {
}

@layer utilities {
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Markdown Styling */

#blog-posts-container {
  /* Used to place the list of tags (child element) at the bottom left corner of this element */
  container-type: inline-size;
}

a {
  color: inherit;
}

blockquote {
  & p {
    quotes: initial;
    &::after {
      content: "”";
    }
    &::before {
      content: "“";
    }
  }
}

pre {
  @apply mb-6 rounded-lg overflow-x-auto pt-4 p-4 text-sm;
  border: var(--pre-border);
  background-color: var(--pre-bg);
  scrollbar-color: var(--border-light) transparent;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
}

pre::-webkit-scrollbar {
  /* background-color: #333; */
  border-radius: 0.5rem;
}

code {
  @apply px-1 py-0.5 rounded-lg;
}

pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
  font-family: inherit;
}

code span {
  @apply font-medium text-sm;
}

:not(pre) > code {
  bottom: 0.5px;
  padding: 1px 3px;
  margin: 0 -1px;
  border-radius: 4px;
  background-color: var(--code-bg);
  color: var(--inline-code);
}

/* Copy button in codeblock elements */

.code-block:hover button.copy,
pre:hover button.copy {
  opacity: 1;
}

.code-block {
  position: relative;
  /* position: anchor; */
  /* anchor-name: --copyAnchor; */
}

button.copy {
  position: absolute;
  /* top: anchor(start); */
  /* right: anchor(end); */
  top: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:before {
    content: "Copied!";
    position: absolute;
    left: -70px; /* Adjust as needed to position text properly */
    top: 50%;
    translate: 0 -50%;
    background-color: var(--bg-offset); /* Background color for the message */
    color: inherit; /* Text color */
    padding: 4px 40px 4px 8px;
    border-radius: 4px; /* Rounded corners */
    font-size: 12px; /* Font size of the message */
    white-space: nowrap; /* Prevents text from wrapping */
    opacity: 0; /* Initially hidden */
    pointer-events: none;
  }

  & .ready {
    background-image: url(/icons/copy.svg);
    transition: transform 0.1s ease;
    &:hover {
      scale: 1.05;
    }
  }

  & .success {
    display: none;
    background-image: url(/icons/copy-success.svg);
    z-index: 10;
  }

  &.copied {
    & .success {
      display: block;
    }

    &:before {
      opacity: 1; /* Show the message when .copied is active */
    }

    & .ready {
      display: none;
    }
  }
}

/* Scroll Animations (Projects Page) */

@supports (animation-timeline: view()) {
  .animation-container {
    animation: trigger steps(1) forwards;
    animation-timeline: view();
    animation-range-end: 0%;
  }

  @media (prefers-reduced-motion: no-preference) {
    @container style (--animate: true) {
      .animation-container img {
        animation: from-bottom 300ms var(--easeOut) forwards;
      }
      .project-title {
        animation: from-right 300ms var(--easeOut) forwards;
      }
      .animation-container > div {
        animation: from-bottom 300ms var(--easeOut) forwards;
      }
    }
  }
}

@keyframes trigger {
  to {
    --animate: true;
  }
}

@keyframes from-left {
  from {
    opacity: 0;
    scale: 2;
    translate: -30rem;
    filter: blur(50px);
  }
}

@keyframes from-right {
  from {
    opacity: 0;
    translate: 30rem;
    filter: blur(50px);
  }
}

@keyframes from-bottom {
  from {
    opacity: 0;
    translate: 0 30rem;
    filter: blur(75px);
  }
}

@keyframes scale-in {
  from {
    scale: 0;
    filter: blur(75px);
  }
}
