.cluster-button {
  display: block;
  width: min(300px, 100%);
  margin: 0 auto;
  outline-offset: -45px;
}

.cluster-container {
  width: 100%;
}

.cluster-container svg {
  margin: -60px 0 -30px;
  cursor: pointer;
}
